.box1 {
    background-color: yellow;
    border: 2px solid black;
    padding: 6%;
    text-align: left;
    margin: 2%;
    
}

.box2 {
    background-color: beige;
    border: 2px solid black;
    padding:  6%;
    text-align: center;
    margin: 2%;
}

.box3 {
    background-color: blue;
    border: 2px solid black;
    padding:  6%;
    text-align: left;
    margin: 2%;
}