.box1 {
    background-color: yellow;
    border: 2px solid black;
    padding: 6%;
    text-align: left;
    margin: 2%;

}

.box2 {
    background-color: beige;
    padding: 0%;
    text-align: center;
    margin: 2%;
    display: flex;
}

.box3 {
    background-color: blue;
    border: 2px solid black;
    padding: 6%;
    text-align: left;
    margin: 2%;
}

.cont1 {
    display: flex;
    border: 2px solid black;
    padding: 6%;
    margin: right 0;
    width: 50%;

}

.cont2 {
    display: flex;
    border: 2px solid black;
    padding: 6%;
    border-left: none;
    width: 50%;
}